Debug.win32
*.obj
*.idb
*.pdb
*.tlog
*.log
*.exp
*.lnk
*.suo
*.user
*.tmp
*.ilk
*.sdf
*.lastbuildstate
*.ib_pdb_index
*.opensdf
*.sdf
*.suo
/tdengine_ddz/frameworks/runtime-src/proj.win32/Debug/td_proto_cpp.exe
